extends layout

block content
  main
    .container
      .row
        .col-lg-12
          a.btn.btn-primary.ml-auto.mr-auto(href='#' role='button') Új számla
      .row
        .col-xs-12
          table.table.table-striped
            thead
              tr
                th Számla neve
                th Megrendelő
                th Számla értéke
            tbody
              tr
                td folyószámla
                td Várdai Enikő
                td 11200