extends layout

block content
  main
    .container
      .row
        .col-xs-12
          table.table.table-striped
            thead
              tr
                th #
                th Számla neve
                th Megrendelő
                th Számla értéke
                th gombok
                th
            tbody

                  
                  

              